input{
    border: none;
    border-bottom: 1px solid #dadada;
    outline: none;
    padding: 1rem;
}

.find_id_logo{
    width: 100%;
    text-align: center;
    margin: 5rem 0;
}
.find_Id_form{
    width: 100%;
    margin: 0;
}
form[class^=find_Id]{
    font-size: 1.2rem;
    margin: 1rem 0;
}
.find_Id_box input{
    margin: 1rem 0;
    width: 100%;
    height: 2.5rem;
    font-size: 0.9rem;
    padding: 1rem;
}
.find_Id_box_pw{
    width: 80%;
    height: 2.5rem;
    margin: 0.5rem 0;
}
.regi_box_phone div{
    display: flex;
    gap: 1rem;
}
.phoneCheck{
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--main-color);
    color: white;
    width: 25%;
    height: 2.5rem;
    margin: 0.5rem 0;
    font-size: 1.05rem;
}
.find_id_button{
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    position: fixed;
    bottom: 4.5rem;
    left: 1rem;
    width: calc(100% - 2rem);
}

.find_id_button a{
    width: 100%;
    height: 100%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: white;
    border-radius: 0.5rem;
}

.find_id_button a:hover{
    background-color: var(--main-color-hover);
    color: #ebebeb;
    
}
.container{
    padding: 0 1rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.container > div{
    margin: 0;
    border-radius: var(--border-radius);
}
