<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/project_footer.css">
  <link rel="stylesheet" href="/css/project_header.css">
  <link rel="stylesheet" href="/css/project_update_password.css">
  <script src="/js/project_update_password.js"></script>
  <title>세탁신청</title>
  <style>

  </style>
</head>
<header th:replace="~{/common/project_header :: header}"></header>
<body>

<div class='container'>
  <form class='pwChangeForm' action="./update" method="post">
    <div class='find_id_logo'>
      <img src="/images/main_logo.jpg" class="login_logo_img">
    </div>
    <div class='pw_change_box_pw'>
      <h5>새 비밀번호 *</h5>
      <input type="password" id="userPw" name="userPw" maxlength='15' placeholder="대소문자, 숫자, 특수문자 포함 8자 이상 ~ 15자 이하">
    </div>
    <div class='pw_change_box_pw'>
      <h5>비밀번호 확인 *</h5>
      <input type="password" id="userPwCheck" maxlength='15'>
    </div>
    <div class="errors"></div>
    <div class="errorBox"><span class="errors message" th:text="${msg}"></span></div>
    <div class='fixButton'>
      <input type="submit" id="button_passwordChange" value="변경하기">
    </div>
  </form>
</div>

</body>
<footer th:replace="~{/common/project_footer :: footer}"> </footer>
</html>