<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/project_footer.css">
    <link rel="stylesheet" href="/css/project_header.css">
    <link rel="stylesheet" href="/css/project_login.css">
    <title>세탁신청</title>
    <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
    <script></script>

</head>
<header th:replace="~{/common/project_header :: header}"></header>
<body>
    <div class='container'>
        <form class='login_form' method="post" action="/login/loginAction">
            <div class='login_logo'>
                <img src="/images/main_logo.jpg" class="login_logo_img">
            </div>
            <div class='login_box_id'>
                <h5>아이디</h5>
                <input type="text" name="memberAccount"  th:value="${memberAccount}">
            </div>
            <div class='login_box_pw'>
                <h5>비밀번호</h5>
                <input type="password" maxlength='15' name="memberPassword">
            </div>
            <div class="errorMsg">[[${errorMsg}]]</div>
            <div class='login_button'>
                <a onclick="formSubmit()">로그인</a>
            </div>
            <div class='login_look'>
                <div><a href="/register">회원가입</a></div>
                <div><a href="/login/find-account">아이디 찾기</a></div>
                <div><a href="/login/find-pw">비밀번호 찾기</a></div>
            </div>
            <div class='login_social_login'>
                <button type="button" class="login_naver" onclick="naverLogin()">네이버 로그인</button>
                <button type="button" class='login_kakao' onclick="kakaoLogin()"> 카카오 로그인</button>
                <span th:text="${body}"></span>
            </div>
            <input type="hidden" id="redirectURL" name="redirectURL" th:value="${param.redirectURL}">
        </form>
    </div>
<script src="/js/project_login.js"></script>
</body>
<footer th:replace="~{/common/project_footer :: footer}"> </footer>
</html>