<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/project_footer.css">
    <link rel="stylesheet" href="/css/project_header.css">
    <link rel="stylesheet" href="/css/project_manager_order_list.css">
    <title>세탁신청</title>
</head>
<header th:replace="~{/common/project_manager_header :: header}"></header>
<body>
    <div class='container'>
        <input type="text" class="hidden" value="6" id="inspectionStatus">
        <aside th:replace="~{/common/project_manager_order_header :: manager_header}"></aside>

        <div class='res_box' id="resBox">
        </div>
    </div>

</body>
<script>
    document.querySelector('#liTwo').classList.add('active');
    document.querySelector('#liOne').classList.remove('active');
</script>
<footer th:replace="~{/common/project_manager_order_footer :: footer}"> </footer>
</html>